.container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
.title {
  margin: 6px;
  color: #303952;
}
@media screen and (max-width: 1350px) {
  /* 데스크탑에서 사용될 스타일을 여기에 작성합니다. */
  .container {
    width: 100%;
  }
}
