.container {
  background-color: aliceblue;
  width: 325px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: block;
  font-size: 30px;
  margin: 10px;
}
.socialButton {
  margin-bottom: 10px;
  width: 220px;
  height: 29px;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
  border: 1px solid #303952;
  transition: background-color 0.5s;
}
.socialButton:hover {
  background-color: #f8a5c2;
}
