.container {
  width: 457px;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 8px 4px 8px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 8px 4px 8px -1px rgba(0, 0, 0, 0.19);
  margin-bottom: 12px;
}
.profile {
  margin: auto;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}
.card {
  width: 300px;
}
.name {
  font-size: 25px;
  font-weight: 600;
}
span {
  display: block;
  margin-top: 3px;
}
.divider {
  width: 90%;
  height: 1px;
  background-color: #ff9f43;
  margin-top: 6px;
  margin-bottom: 6px;
}
